:root {
    --primary-text-color: #757575;
    --logo-text-color: #2196F3;
    --logo-color: #000000;
    --background-color: #FFFFFF;
    --background-hero: #2F303A;
    --h1-color: #FFFFFF;
    --button-color:#2196F3;
    --black:#212121;
    --footer-background-color: #2F303A;
    --footer-conntacts:color: rgba(255, 255, 255, 0.6);
    --solid: #ECECEC;
    --buttons-color: #F5F4FA;
    }

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    }

.container-header{
    align-items: center;
    }

.header{
    border-bottom: 1px solid var(--solid);
    }

.header > .container{
    display: flex;
    align-items: center ;
    }

.logo{
    margin-right: 93px;
    }

ul{
    margin: 0px;
    padding: 0px;
    }    

li{
    margin: 0px;
    padding: 0px;
    }
    
.link-buttons{
    display: flex;
    }

.link-buttons>.item:not(:last-child){
    margin-right: 50px;
    }

.our-classes{
     display: flex;
     margin-top: 0px;
     margin-bottom: 0px;
    }

.our-classes > .flex-elememt{
    display: flex;
    align-items: center ;
    width: 380px;
    margin-right: 30px;
    }

.section-our-classes{
    padding-bottom: 94px;
    }

.our-team-pics{
    width: 270px;
    }

.link{
    display: block;
    padding-top:32px;
    padding-bottom:32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-text-color);
    }

.container>.types-of-works{
    display: flex;
    flex-wrap: wrap;
    }

.types-of-works>.flex-elemrent{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    }

.portfilio-pics{
        width: 100%;
    }


.types-of-works>.flex-elemrent:nth-last-child(-n+3){
    margin-bottom: 0px;
    }

.types-of-works>.flex-elemrent:nth-child(3n){
    margin-right: 0px;
    }

.types-of-works> .portfolio-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    }

.flex-elemrent > .portfolio-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    }

.nav-link-contacts{
    margin-left: auto;
    margin-right: 15px;
    }

body{
    color:var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0px;
    }
   
.logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--logo-text-color);
    margin-left:15px;  
    }

.logo-color{
    color:var(--logo-color);
    font-size: 26px;
    line-height: 1.19;
    }

.logo-color-footer{
    color:var(--h1-color);
    font-size: 26px;
    line-height: 1.19;
    }

.link-tel{
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    }

.link-contacts{
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    }

.link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 0;
    }

.link-tel{
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    }
    
.link-mail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:var(--button-color);
    }

.link-studio{
    color:var(--button-color);
    }

.link-portfolio{
    color:var(--button-color);
    }

.link:hover{
    color:var(--button-color);
    }

li{
    list-style-type: none; 
    }

h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--h1-color);
    margin-top: 0;
    margin-bottom: 0;
    }

h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 50px;
    }

h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    color:var(--black);
    margin:0px;
    }

h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:var(--black);
    }

.our-team-container{
    margin-bottom: 94px;
    }

.names{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    }

.our-team-title{
    margin-bottom: 50px;
    }

.setcion-our-team{
    padding-top: 94px;
    padding-bottom: 94px;
    }

.our-classes>.flex-element:not(:last-child){
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;  
    display: flex;
    }

.our-team{
    margin-top: 0;
    margin-bottom: 30px;  
    display: flex;
    }

.our-team:not(:last-child){
    margin-right: 30px;
    }

button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    margin-right: 8px;
    margin-top: 0px;
    border: none;
    background:var(--buttons-color);
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom:6px ;
    padding-left: 22px;
    padding-right: 22px;
    }

.buttons{
    margin-top: 0px;
    }

.link-buttons{
    margin-top: 0;
    margin-bottom: 0;  
    }

.container>.buttons{
    width: 611px;
    margin-bottom: 34px; 
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius:4px;
    }
 
.types-of-works{
    margin-top: 0;
    margin-bottom: 0;  
    }

 .portfolio-heading{
    text-transform: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    }

.portfolio-text{
    padding-top: 4px;
    margin:0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    }

.section-our-benefits{
    display: block;
    padding-bottom: 94px;
    padding-top: 94px;
    }

.container-our-benefits{
    display: block;
    }

.our-benefits{
    display: flex;
    }

.section-benefits-text{
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 0px;
    width: 270px;
    }

.heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color:var(--black);
    width: 270px;
    margin-right: 0px;
    padding-right: 0px;
    margin-block-end: 0px;
    }

.flex-element-benefits:not(:last-child){
    margin-right: 30px;
    padding: 0px;
    }

.our-team{
    display: flex;
    }

.our-team>.flex-element:not(:last-child){
    margin-right: 30px;
    }

.title-h2{
    color: var(--background-color);
    }

.hero-section{
    background-color: var(--background-hero); 
    text-align: center;
    }

.button-blue{
    font-family: inherit;
    background: #2196F3;
    font-weight: bold;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.87;
    color:var(--h1-color);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;   
    }

.main-hero{
    width: 696px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    }

.button-blue:hover{
    color: black;
    }

.section-our-team-text{
    font-size: 16px;
    line-height: 1.19;    
    color: var(--primary-text-color);
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    }

footer{
    background-color: var(--footer-background-color);
    }

address{
    color: var(--h1-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    display: block;
    margin-left: 15px;
    }

a{
    color: var(--footer-conntacts);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    }

.button-main{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color:var(--button-color);
    color: var(--background-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;   
    }

.button-all{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background: #2196F3;
    color:var(--h1-color);
    cursor: pointer;
    margin-left: auto;
    margin-right: 8px;   
    border-radius: 4px;
    border: none;
    }

.button-all:hover{
    color:var(--logo-color);
    }
    
.button-standart:hover{
    color:var(--button-color);
    }

.button-standart:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    }

.hidden-header{        
    position: absolute;
    visibility: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    color:var(--background-color);
    margin: 0px;
    padding: 0px;
    }

.logo-footer{
    display: inline-block;
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 20px;
    }

.contacts-footer{
    padding-left: 15px;
    margin: 0;
    }

.footer-mail{
    display: inline-block;
    margin-top: 9px;
    margin-bottom: 9px;
    }

.contacts-footer{
    display: inline-block;
    }

.description{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    }

.categories-section{
    padding-top: 94px;
    padding-bottom: 94px;
    }

.footer-section{
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
.our-classes > .flex-elememt{
    display: flex;
    align-items: center;
    width: 380px;
    margin-right: 30px;
    }

